gdown==3.13.1
keras==2.6.0
Keras-Preprocessing==1.1.2
keras-vggface==0.6
matplotlib==3.4.3
matplotlib-inline==0.1.2
numpy==1.19.5
opencv-contrib-python==4.5.3.56
opencv-python==4.5.3.56
Pillow==8.3.1
scikit-learn==0.24.1
scipy==1.7.1
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-addons==0.14.0
tensorflow-estimator==2.6.0
tqdm==4.62.3
vit-keras==0.1.0
